#about-hero{
    background-color: #014E56;
    padding-bottom: 120px;
    position: relative;
}
#about-hero img{
    position: absolute;
    bottom: 0;
    right: 0;
}
#directors{
    position: relative;
    background-color: #004047;
    padding: 140px 0 130px 0;
}
#directors h3{
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 26px;
}
.frames img:nth-child(1){
    position: absolute;
    left: 0;
    top: 0;
}
.frames img:nth-child(2){
    position: absolute;
    right: 0;
    bottom: 0;
}
#clients{
    position: relative;
    background-color: #012F34;
    padding: 140px 0 150px 0;
}
#clients-frame{
    position: absolute;
    left: 0;
    top: 0;
}
.cards{
    display: grid;
    padding: 0 4%;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 329px 329px;

}
.card{
    position: relative;
    background-color: #012F34;
    text-align: center;
    margin: 38px 15px;
}
.card img{
    margin: 32px 0 12px 0;
}
.card h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #79C8C7;
}
.card p{
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}
.card button{
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px transparent;
    left: 50%;
    transform: translate(-50%) rotateZ(0);
    bottom: -28px;
    color: #012F34;
    font-size: 30px;
    font-weight: 700;
    background-color: #F67E7E;
    transition: 500ms all ease-in-out;
}
.card button:focus{
    transform: translate(-50%) rotateZ(-225deg);
    background-color: #79C8C7;
}
#clients h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 70px;
}