#about-hero{
    background-color: #014E56;
    padding-bottom: 120px;
    position: relative;
}
#about-hero img{
    position: absolute;
    bottom: 0;
    right: 0;
}
#directors{
    position: relative;
    background-color: #004047;
    padding: 140px 0 168px 0;
}
#directors h3{
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 64px;
}
.frames img:nth-child(1){
    position: absolute;
    left: 0;
    top: 0;
}
.frames img:nth-child(2){
    position: absolute;
    right: 0;
    bottom: 0;
}
#clients{
    position: relative;
    background-color: #012F34;
    padding: 140px 0 150px 0;
}
#clients img{
    position: absolute;
    left: 0;
    top: 0;
}
.cards{
    display: grid;
    padding: 0 4%;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 253px 253px;
    grid-gap: 30px;
}
.card{
    position: relative;
    background-color: #012F34;
    text-align: center;
}
.card img{
    margin: 32px 0 12px 0;
}
.card h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #79C8C7;
}
.card p{
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}