* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
    min-height: 100vh;
    font-family: 'Livvic', sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
}
.col{
    display: flex;
    flex-flow: column;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
#home-header{
    background-color: #014E56;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 73px;
    margin-bottom: 124px;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-list img{
    margin-right: 80px;
}
.nav-item{
    margin-right: 40px;
}
.nav-item a{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    font-style: normal;
}
.nav-btn{
    width: 153px;
    height: 48px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}
main{
    flex-grow: 1;
}
.home-hero{
    background-color: #014E56;
    padding-bottom: 250px;
    position: relative;
}
.hero-title{
    width: 635px;
    margin-right: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;
}
.hero-title span{
    color: rgba(246, 126, 126, 1);
}
.hero-text{
    position: relative;
    width: 445px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 79px;
}
.hero-text::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #79C8C7;
    top: 0;
    left: 0;
}
.home-hero  .row{
    align-items: center;
}

.home-hero-frames img{
    position: absolute;
}
.home-hero-frames img:nth-child(1){
    top: 0;
    left: 0;
}
.home-hero-frames img:nth-child(2){
    bottom: 0;
    right: 165px;
}
#home-info{
    position: relative;
    padding-top: 198px;
    padding-bottom: 140px;
    background-color:  #012F34;
}
.info-title{
    width: 445px;
    font-weight: 700;
    font-size: 48px;
    font-style: normal;
    line-height: 48px;
    color: #FFFFFF;
    position: relative;
}
.info-title::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #F67E7E;
    top: -54px;
    left: 0;
}
.home-info-item{
    display: flex;
    width: 550px;
}
.home-info-item:nth-child(2){
    margin: 32px 0;
}
.home-info-item img{
    margin-right: 23px;
}
.home-info-item h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F67E7E;
}
.home-info-item p{
    margin-top: 16px;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.8;
}
#home-frame3{
    position: absolute;
    bottom: 0;
    right: 0;
}

