* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
    min-height: 100vh;
    font-family: 'Livvic', sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
}
.col{
    display: flex;
    flex-flow: column;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
#header{
    background-color: #014E56;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 73px;
    margin-bottom: 124px;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-list img{
    margin-right: 80px;
}
.nav-item{
    margin-right: 40px;
}
.nav-item a{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    font-style: normal;
}
.nav-btn{
    width: 153px;
    height: 48px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}
main{
    flex-grow: 1;
}
#footer{
    background-color: #002529;
    padding: 48px 0;
}
.footer-link{
    margin-top: 25px;
}
.footer-link a{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-right: 40px;
}
.f-contact{
    width: 445px;
}
.footer-list{
    float: left;
}
.footer-item{
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}
.f-icon{
    width: content-box;
}
.f-icon ul{
    display: flex;
    justify-content: right;
}
.f-icon li img{
    margin-left: 16px;
}
.f-icon p{
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-top: 45px;
}