* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
    min-height: 100vh;
    font-family: 'Livvic', sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
}
.col{
    display: flex;
    flex-flow: column;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
#header{
    background-color: #014E56;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 73px;
    margin-bottom: 124px;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-list img{
    margin-right: 80px;
}
.nav-item{
    margin-right: 40px;
}
.nav-item a{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    font-style: normal;
    transition: all .3s ease;
}
.nav-item a:hover{
    color: #F67E7E;
}
.nav-btn{
    width: 153px;
    height: 48px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    transition: all .3s ease;
}
.nav-btn:hover{
    color: #002529;
    background-color: #FFFFFF;
}
main{
    flex-grow: 1;
}
.hero-title{
    width: 635px;
    margin-right: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;
}
#about-hero .hero-title{
    width: 350px;
    font-size: 64px;
}
.hero-title span{
    color: rgba(246, 126, 126, 1);
}
.hero-text{
    position: relative;
    width: 445px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 79px;
}
#about-hero .hero-text{
    width: 730px;
}
.hero-text::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #79C8C7;
    top: 0;
    left: 0;
}
#about-hero .hero-text::after{
    background-color: #F67E7E;
}
.home-hero  .row{
    align-items: center;
}
#home-start{
    background-color: #F67E7E;
    position: relative;
    padding: 76px 0;
}
#home-start .row{
    justify-content: center;
}
#home-start img{
    position: absolute;
    left: 0;
    bottom: 0;
}
#home-start h2{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #012F34;
    margin-right: 260px;
}
#home-start button{
    width: 153px;
    height: 48px;
    background-color: transparent;
    color: #012F34;
    border: 2px solid #012F34;
    border-radius: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    transition: all .3s ease;
}
#home-start button:hover{
    background-color: #002529;
    color: #FFFFFF;
}
#footer{
    background-color: #002529;
    padding: 48px 0;
}
.footer-link{
    margin-top: 25px;
}
.footer-link a{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-right: 40px;
    transition: all .3s ease;
}
.footer-link a:hover{
    color: #F67E7E;
}
.f-contact{
    width: 445px;
}
.footer-list{
    float: left;
}
.footer-item{
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}
.f-icon{
    width: content-box;
}
.f-icon ul{
    display: flex;
    justify-content: right;
}
.f-icon li img{
    margin-left: 16px;
}
.f-icon p{
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-top: 45px;
}